<script defer type="module" src="{{ "product-header.bundle.js" | asset_url }}"></script>
<script defer type="module" src="{{ "product-custom.js" | asset_url }}"></script>

<div id="react-product-header" data-product-id="{{ productId }}" data-product-handle="{{ productHandle }} "></div>
    {% comment %} <script>console.log({{ product | json }});</script> {% endcomment %}
<div style="margin: auto; display: none;" class="glide relative" id="product-slide">
    <div class="glide__track slider-track" data-glide-el="track">
        <ul class="glide__slides slide-container">
            <!-- ITERATE OVER PRODUCTS IN COLLECTION AND RENDER SNIPPET FOR EACH -->
            {% for image in product.media %}
                {% if image.preview_image.src %}
                    <li class="glide__slide flex justify-center">
                        <img class="image-contain" src="{{image.preview_image.src | img_url: 'large'}}">
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% comment %} <div class="glide__arrows slider-arrows" data-glide-el="controls">
        <a role="button" class="glide__arrow glide__arrow--left slider-arrow left" data-glide-dir="<">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 24 24" xml:space="preserve">
        	  <path d="M12,24l2.1-2.1l-8.4-8.4H24v-3H5.7l8.4-8.4L12,0L0,12L12,24z"/>
          </svg>
        </a>
        <a role="button" class="glide__arrow glide__arrow--right slider-arrow right" data-glide-dir=">">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 24 24" xml:space="preserve">
             <path d="M12,0L9.9,2.1l8.4,8.4H0v3h18.3l-8.4,8.4L12,24l12-12L12,0z"/>
          </svg>
        </a>
    </div> {% endcomment %}
</div>