{% paginate blog.articles by 5 %}
<section class="section-padding bg-gray product-single-card-section">
  <div class="container">
    <h1 class="text-4xl sm:text-3xl">{{ blog.title }}</h1>
    {% for article in blog.articles %}
      <div class="mb-6 mt-6">
        <h2><a href="{{ article.url }}" class="text-link-orange block mb-0 text-xl">{{ article.title }}</a></h2>
        <p class="mb-2 italic">{{ article.author }} @ {{ article.created_at }}</p>
        <div>
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
          {% else %}
            <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% if paginate.pages > 1 %}
  {{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}
