<section class="section-padding-large relative">
  <div class="background-image loyalty-hero">
    <img src="{{ 'hero1.jpg' | asset_url }}"/>
  </div>
  <div class="container flex justify-end relative z-10">
    <div class="w-1/2">
      <h1 class="text-4xl mb-8 font-bold">Bar & Cocoa<br/>
        Loyalty Reward Program</h1>
        <p>You can earn points with every purchase or following us on Instagram, points can be redeem for money discounts or free shipping on your order.</p>
    </div>
  </div>
</section>
<section class="section-padding bg-gray">
  <div class="container">
    <div class="text-center max-w-600 mx-auto mb-20">
      <h2 class="mb-6 font-medium">Earn With Every Order</h2>
      <p>Collect reward point to get discount coupons for products and shipping. You can collect points writing a product review, celebrating your birthday with us, following us on Instagram, placing an order or signing up.</p>
    </div>
    <div class="my-6 flex flex-wrap loyal-card-wrapper">
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_order.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>1. Write A Product Review</h3>
          <p class="pl-8">Get 100 points for every product review you submit.</p>
        </div>
      </div>
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_signup.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>2. Signup</h3>
          <p class="pl-8">Get 100 points when you signup.</p>
        </div>
      </div>
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_order.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>3. Place An Order</h3>
          <p class="pl-8">Get 1 Point for every $1 spent.</p>
        </div>
      </div>
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_birthday.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>4. Celebrate A Birthday</h3>
          <p class="pl-8">Get 500 points every time you  celebrate a birthday with us.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="text-center max-w-600 mx-auto mb-20">
      <h2 class="mb-6 font-medium">How To Redeem Your Points</h2>
    </div>
    <div class="my-6 flex flex-wrap loyal-card-wrapper">
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_gift.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>$5 off coupon</h3>
          <p>Convert 500 points to get $5 discount.</p>
        </div>
      </div>
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_gift.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>$20 off coupon</h3>
          <p>Convert 1950 points to get $20 discount.</p>
        </div>
      </div>
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_gift.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>$10 off coupon</h3>
          <p>Convert 990 points to get $10 discount.</p>
        </div>
      </div>
      <div class="loyal-card w-1/2 flex">
        <div class="loyal-icon">
          <img src="{{ 'loyal_gift.svg' | asset_url }}"/>
        </div>
        <div class="flex flex-col">
          <h3>Free shipping coupon</h3>
          <p>Convert 500 points to get Free shipping on one order</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding bg-green">
  <div class="container-small flex flex-col items-center ">
    <h2 class="mb-12">Subscribe For Specials</h2>
    <form class="w-full loyal-form mb-12 flex flex-col items-center">
      <input type='text' class="mb-6 w-full" placeholder="Email"></input>
      <button class="button-alt-outline mb-0">
        Signup
      </button>
    </form>
  </div>
</section>
