<section class="section-padding relative hero-club-1">
  <div class="background">
    <img src="{{ 'hero1.jpg' | asset_img_url: '1920x' }}" class="image-cover image-1"></img>
    <img src="{{ 'hero4.jpg' | asset_img_url: '1920x' }}" class="image-cover image-2"></img>
    <img src="{{ 'hero4-mobile.jpg' | asset_img_url: '600x' }}" class="image-cover image-3"></img>
  </div>
  <div class="container relative z-index hero-club-content-margin">
    <div class="w-2/3 sm:w-full">
      <h1 class="font-bold text-4xl mb-12 sm:text-3xl max-w-500 capitalize">Craft chocolate delivered to your door every month — because you deserve it.</h1>
      <p class="mb-6 max-w-500">Subscribe to Bar & Cocoa’s Dark Chocolate Club for a monthly delivery of the world’s best dark chocolate. Four full-sized bars, average percentage cocoa ranges between 64%-85%. Delivered the second week of every month. Complete with tasting notes. All gluten and dairy free.</p>
      <a onClick="(() => { document.getElementById('choose-your-subscription').scrollIntoView({ behavior: 'smooth'}); return false; })(); return false;" class="button-alt-outline">Join The Club</a>
    </div>
  </div>
</section>
<section class="section-padding bg-dark relative overflow-hidden">
  <div class="club-experience-gradiant"></div>
  <div class="container">
    <h2 class="text-4xl text-light font-fancy ml-64 xl:ml-24 sm:ml-0 sm:text-center xs:text-3xl">The Bar & Cocoa</br>Club Experience</h2>
  </div>
  <div class="club-experience-graphic-container container">
     <div class="relative">
       <img src="{{ 'box-2.png' | asset_img_url: '700x' }}" class="club-experience-image"/>
       <div class="club-experience-item item-1">
         <img src="{{'Convenient.svg' | asset_url}}"/>
         <div class="relative inline-block mb-4">
           <div class="club-line"></div>
           <h3 class="text-light">Convenient</h3>
         </div>
         <p class="text-light">Your box ships in the 2nd week of every month, packaged with minimal, eco-friendly materials.</p>
       </div>
       <div class="club-experience-item item-2">
         <img src="{{'Coveted.svg' | asset_url}}"/>
         <div class="relative  inline-block mb-4">
           <div class="club-line"></div>
           <h3 class="text-light">Coveted</h3>
         </div>
         <p class="text-light">These chocolate bars are rare finds. It pays to be exclusive.</p>
       </div>
       <div class="club-experience-item item-3">
         <img src="{{'Curated.svg' | asset_url}}"/>
         <div class="relative inline-block mb-4">
           <div class="club-line"></div>
           <h3 class="text-light">Curated</h3>
         </div>
         <p class="text-light">You receive four, full-sized dark chocolate bars of different cacao origins, made by the world’s best chocolate makers.</p>
       </div>
     </div>
  </div>
  <div class="flex justify-center mb-20 relative z-10 mt-20">
    <a onClick="(() => { document.getElementById('choose-your-subscription').scrollIntoView({ behavior: 'smooth'}); return false; })(); return false;" class="button">Join The Club</a>
  </div>
  <div class="container flex justify-between items-end relative z-10 lg:items-center md:flex-wrap">
    <div class="w-2/5 pr-6 mb-12 lg:w-1/2 lg:mb-0 md:w-full md:mb-12">
      <h2 class="text-light mb-6">Why Craft Chocolate?</h2>
      <p class="text-light mb-4">Bean to bar craft chocolate makers start with the finest cacao, produce them in small batches to make seriously amazing tasting chocolate. Many bars only contain 2 ingredients: cacao and sugar, often highlighting the flavor profiles of single origin chocolate.</p>
      <p class="text-light">We showcase chocolate makers who practice ethical and direct trade, and support eco-conservation and sustainable farming.</p>
    </div>
    <div class="w-3/5 flex justify-start lg:w-1/2 md:w-full">
      <img src="{{ 'box-3.png' | asset_img_url: 'master' }}" class="max-h-400"/>
    </div>
  </div>
</section>
<section class="section-padding bg-green">
  <div class="container-small">
    <h2 class="font-bold text-4xl mb-12 text-center">Some Recent Praise</h2>
    <div class="flex justify-between lg:flex-col items-center">
      <div class="club-quote">
        <p>Purchased this as a gift - It was awesome. My hubby’s best gift he said. We will subscribe again!</p>
        <p>Meghan</p>
      </div>
      <div class="club-quote">
        <p>My friend absolutely LOVED IT! She said its revolutionized her perspective on chocolate.</p>
        <p>Leigh</p>
      </div>
      <div class="club-quote">
        <p>There is nothing that could be done better. Everything has been fantastic</p>
        <p>Eric</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding bg-white">
  <div class="container-small flex justify-content-center flex-col items-center">
    <h2 class="font-bold text-3xl mb-12 text-center">Some Of Our Featured Makers</h2>
    <div class="maker-wrapper">
      <div class="maker-image">
        <img src="{{'maker1.jpg' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image">
        <img src="{{'maker5.jpg' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image">
        <img src="{{'maker3.jpg' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image">
        <img src="{{'maker4.png' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image">
        <img src="{{'maker6.jpg' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image">
        <img src="{{'maker7.jpg' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image xs-hide">
        <img src="{{'maker8.jpg' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image xs-hide">
        <img src="{{'maker9.png' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image xs-hide">
        <img src="{{'maker10.png' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image sm-hide">
        <img src="{{'maker11.png' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image sm-hide">
        <img src="{{'maker12.png' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image sm-hide">
        <img src="{{'maker13.png' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image md-hide">
        <img src="{{'maker14.jpg' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image md-hide">
        <img src="{{'maker15.png' | asset_img_url: '150x' }}"/>
      </div>
      <div class="maker-image md-hide">
        <img src="{{'maker16.png' | asset_img_url: '150x' }}"/>
      </div>
    </div>
    <a href="/pages/chocolate-makers" class="button-alt-outline">See All Our Chocolate Makers</a>
  </div>
</section>
<section id="choose-your-subscription" class="section-padding bg-dark">
  <div class="container-small">
    <h2 class="text-center mb-12 text-light">Choose Your Subscription</h2>
    <div class="club-form">
      <input type="radio" id="gift-no" name="is-gift" value="gift-no" required/>
      <input type="radio" id="gift-yes" name="is-gift" value="gift-yes" required/>
      <input type="radio" id="3-month" name="months" value="3" required/>
      <input type="radio" id="6-month" name="months" value="6" required/>
      <input type="radio" id="12-month" name="months" value="12" required/>
      <div class="flex flex-col items-center">
        <h3 class="text-light mb-6">Is this a gift?</h3>
        <div class="mb-6">
          <a class="button-outline js-gift-button" data-id="gift-no">No, For Me</a>
          <a class="button-outline js-gift-button" data-id="gift-yes">Yes, A Gift</a>
        </div>
        <h3 class="text-light mb-6">Select your plan</h3>
        <div class="mb-4 w-full flex justify-between max-w-600 sm:flex-col sm:items-center">
          <a class="subscription-button js-time-button" data-id="3-month">
            <span>3 Months</span>
            <span>$129.00</span>
          </a>
          <a class="subscription-button js-time-button" data-id="6-month">
            <span>6 Months</span>
            <span>$249.00</span>
          </a>
          <a class="subscription-button js-time-button" data-id="12-month">
            <span>12 Months</span>
            <span>$479.00</span>
          </a>
        </div>
        <p class="italic text-light mb-4 text-xs">Free shipping on all orders.</p>
        <div class="mb-4">
          <button class="button max-w-500 w-full self-stretch" id="club-purchase-button" type="submit" disabled>Join The Club</button>
        </div>
        <p class="text-light max-w-400 text-xs text-center">We add extra care to protect shipments during warm weather months. Subscriptions renew automatically, unless they are a gift. (You may cancel anytime.)</p>
      </div>
    </div>
  </div>
  <script>
    const clubUrl = (plan, isGift) => `https://club.barandcocoa.com/subscribe/3540936721_bar-cocoa-4-bars-a-month/${plan}?gift=${isGift}`
    const plans = {
      "3-month": "3540936723_3-month-prepay",
      "6-month": "3540936724_6-month-prepay",
      "12-month": "3540936725_12-month-prepay"
    }
    const giftOptions = {
      "gift-yes": "True",
      "gift-no": "false"
    }

    const giftButtons = $('.js-gift-button');
    const timeButtons = $('.js-time-button');

    let chooseGift = false,
        choosePlan = false,
        selectedPlan = null,
        selectedGiftOption = null;

    $(giftButtons).click(function(){
      const dataId = $(this).attr('data-id');
      chooseGift = true;
      selectedGiftOption = dataId;

      $("#"+dataId).prop("checked", true);
      $(giftButtons).removeClass("selected");

      $(this).addClass("selected");
      enableButton();
    });

    $(timeButtons).click(function(){
      const dataId = $(this).attr('data-id');
      choosePlan = true;
      selectedPlan = dataId;

      $("#"+dataId).prop("checked", true);
      $(timeButtons).removeClass("selected");

      $(this).addClass("selected");
      enableButton();
    });

    function enableButton(){
      if (chooseGift && choosePlan) $('#club-purchase-button').prop("disabled", false);
    }

    $('#club-purchase-button').on('click', () => {
      if (chooseGift && choosePlan) window.location.href = clubUrl(plans[selectedPlan], giftOptions[selectedGiftOption])
    })
  </script>
</section>
<section class="section-padding relative hero-club-2">
  <div class="background">
    <img src="{{ 'hero2.jpg' | asset_img_url: '1920x' }}" class="image-cover"></img>
  </div>
  <div class="container relative z-index">
    <div class="w-2/3 sm:w-full">
      <h2 class="font-bold text-4xl mb-12 sm:text-3xl max-w-500 capitalize mb-24">Not ready to subscribe yet? Check out our </br><a href="/collections/chocolate-bundles" class="text-link-orange-underline text-4xl sm:text-3xl">chocolate gift boxes</a><span class="text-4xl  sm:text-3xl"> or </span><a href="/collections/all" class="text-link-orange-underline text-4xl  sm:text-3xl">single bars</a>.</h2>
    </div>
  </div>
</section>
